.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.discover {
  color: #4267b2;
  font-weight: bolder;
  font-size: xx-large;
  width: 350px;
}


.about-us {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 750px;
}

h3 {
  display: flex;
  justify-content: center;
}


.quiz-button {
  display: flex;
  max-width: 250px;
  font-size: large;
  
}

.quiz-button:hover {
  background-color: #4267b2;
  font-weight: bolder;
  max-width: 300px;
}

@media screen and (max-width: 375px) {
  .App {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  .discover {
    color: #4267b2;
    font-weight: bolder;
    font-size: large;
    width: 350px;
  }
  
  
  .about-us {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 375px;
  }
  
  h3 {
    display: flex;
    justify-content: center;
  }
  
  
  .quiz-button {
    display: flex;
    justify-content: flex-start;
    max-width: 200px;
    font-size: large;
    
  }
  
  .quiz-button:hover {
    background-color: #4267b2;
    font-weight: bolder;
    max-width: 250px;
  }
}
