.algo-thumbnail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.algo-pics {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 25px;
  opacity: 1;
}

.algo-definition {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 500px;
}
.algo-pics > img {
  opacity: 0.65;
}
.algo-pics:hover > img:hover {
  transition-duration: 0.5s;
  opacity: 1;
}

.algo-pics {

  width: 500px;
  height: 500px;
}

@media screen and (max-width: 375px) {
  .algo-pics {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 25px;
    opacity: 1;
  }
  
  .algo-definition {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 375px;
  }
  .algo-pics > img {
    opacity: 0.65;
  }
  .algo-pics:hover > img:hover {
    transition-duration: 0.5s;
    opacity: 1;
  }
  
  .algo-pics {
  
    width: 375px;
    height: 375px;
  } 
}


/* CSS: Z-INDEX background image */
/* Source: https://www.dreamincode.net/forums/topic/401015-open-a-text-popup-on-image-click/ */
