.algo-images {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 25px;
  opacity: 1;
}

.algo-definition {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 500px;
}
.algo-images > img {
  opacity: 0.65;
}
.algo-images:hover > img:hover {
  transition-duration: 0.5s;
  opacity: 1;
}

.algo-pics {

  width: 500px;
  height: 500px;
}


/* CSS: Z-INDEX background image */
/* Source: https://www.dreamincode.net/forums/topic/401015-open-a-text-popup-on-image-click/ */
