.algo-thumbnails {
  display: flex;
  flex-direction: row;
  opacity: 1;
}
.algo-thumbnails > img {
  opacity: .65;
}
.algo-thumbnails:hover > img:hover {
  transition-duration: .5s;
  opacity: 1;
}

.photos {
  display: flex;
  flex-direction: row;
  width: 300px; 
  height: 300px;
  
  /* z-index: -1; */
}

/* CSS: Z-INDEX background image */
/* Source: https://www.dreamincode.net/forums/topic/401015-open-a-text-popup-on-image-click/ */
