/* source: W3 Schools  */
footer {
  display: flex;
}

.fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  font-size: 48px;
  color: black;
}
