/* source: W3 Schools  */
footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  color: whitesmoke;
  align-items: center;
}

 .fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: whitesmoke
}

.fa:hover {
  opacity: 0.7;
}
/*
.fa-linkedin {

}

.fa-github {
 
}  */