.form {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#concept {
  max-width: 350px;
  justify-content: center;
}

#author {
  max-width: 350px;
}

#topics {
  max-width: 350px;
}

#comment {
  max-width: 350px;
  height: 175px;
}

#form-submit {
  max-width: 175px;
}
