img {
  display: flex;
  align-items: flex-end;
  width: 200px;
  height: 100px;
}

.company-logo {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: 'Londrina Solid';}

.value-prop {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-top: 25px;
}
