/* Source: https://www.freecodecamp.org/news/how-to-build-a-quiz-app-using-react/ */

.quiz-app {
  display: flex;
  border-style: solid;
  border-width: 5px;
  max-width: 500px;
  background-color: white;
}

.score-section {
  display: flex;
}

.question-section {
  display: flex;
  flex-direction: column;
}

.question-count {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.question-text {
  display: flex;
}

.answer-section {
  display: flex;
  flex-direction: column;
}
