.quiz-app {
  display: flex;
  justify-content: center;
  border-style: solid;
  background-color: #4267b2;
  padding-top: 25px;
  max-width: 750px;
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bolder;
  box-shadow: 10px 5px 5px gray;
  
}

.score-section {
display: flex;

}

.question-section {
display: flex;
flex-direction: column;
}

.question-text {
display: flex;
}

.answer-section {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 375px) {

  .quiz-app {
    margin-left: 0px;
  }  
}
