.quiz-app {
  display: flex;
  justify-content: center;
  border-style: solid;
  background-color: #4267b2;
  padding-top: 25px;
  max-width: 750px;
  margin-left: 100px;
  margin-top: 10px;
}

.score-section {
display: flex;

}

.question-section {
display: flex;
flex-direction: column;
}

.question-text {
display: flex;
}

.answer-section {
  display: flex;
  flex-direction: column;
}